body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
  
div {
    border: none;
}
  
#first-block {
    background-color: red;
    height: 3em;
}
  
#second-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 10em;
    border: none;
}
  
#third-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 10em;
    border: none;
}
  
#forth-block {
    display: flex;
    flex-direction: row;
    height: 20em;
    border: none;
}
  
#fifth-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 10em;
    border: none;
}
  
.blue-block {
    background-color: blue;
    display: flex;
    width: 33%;
    margin: 0.6em;
}
  
.yellow-block {
    background-color: yellow;
    display: flex;
    width: 33%;
    margin: 0.6em;
}
  
.green-block {
    background-color: green;
    display: flex;
    width: 33%;
    margin: 0.6em;
}
  
.black-block {
    background-color: black;
    color: white;
    width: 50%;
    margin: 0.6em;
}
  
.white-block {
    border: 1px solid black;
    background-color: white;
    width: 30%;
    margin: 0.6em;
}
.white-block2 {
    border: 1px solid black;
    background-color: white;
    width: 30%;
    margin: 0.6em;
}
    @media screen and (max-device-width : 767px){
    
        #second-block, #third-block{
            flex-wrap: wrap;
        }
        .blue-block, .yellow-block{
            width: 45%;
        }
        .green-block{
            width: 97.5%;
        }
        .white-block{
            width: 45%;
        }
        .white-block2{
            width: 97.5%;
        }
    }
    @media screen and (max-device-width : 430px){
        #first-block {
            flex-direction: column;
        }
          
        #second-block {
            flex-direction: column;
        }
          
        #third-block {
            flex-wrap: wrap;
            flex-direction: column;
        }
          
        #forth-block {
            flex-direction: column;
        }
          
        #fifth-block {
            flex-wrap: wrap;
            flex-direction: column;
        }
        .blue-block {
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
          
        .yellow-block {
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
          
        .green-block {
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
          
        .black-block {
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
          
        .white-block {
            flex-direction: column;
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
        .white-block2 {
            flex-direction: column;
            width: 95%;
            height: 4em;
            margin: 0.5em;
        }
        } 